.App {
  text-align: center;
  background-color:white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden !important;
}

.is-fullwidth{
  width: 100% !important;
}

.banner{
  text-align: left;
  background-color: gold;
}

.is-pink-coral{
  background-color: #ec008c !important;
}
.is-pink-coral .message-header, .is-pink-coral .box{
  background-color: blanchedalmond;
  color: #ec008c;
}

.is-pink-coral .message-body{
  color: white;
}
.blkgold, .footer-container hr{
  background-color: gold;
  color: black;
}

.page-header{
  margin-top: 3rem;;
}

.page-header-body{
  padding:1rem;
}

/*.navbar{
  position: fixed !important;
  width: 100% !important;
}*/

.navbar-item span, .navbar-item{
  margin: 0 auto !important;
  font-weight: bold;
  font-size: small;
}

.map-button{
  background-color: black;
  cursor: pointer;
  color: gold;
  border: none;
}

/*.below-nav{
  margin-top:4.5rem;
}*/

.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  color: black !important;
  margin: 0 auto;
}

.navbar-link{
  color: black !important;
  background-color: rgba(0,128,0,0) !important;
}

.navbar-brand.is-tab:focus, .navbar-brand.is-tab:hover {
  background-color: gold !important;
  color: black !important;
}

.navbar-link.is-tab:focus, .navbar-link.is-tab:hover {
  background-color: gold !important;
  color: black !important;
}

.navbar-link .custom-nav {
  color: black !important;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: black !important;
}

/*.navbar-item .is-tab:focus .navbar-link, .navbar-item .is-tab:hover .navbar-link{
  background-color: yellow !important;
  color: black !important;
}*/

.navbar-item .is-tab:focus .navbar-link:not(.is-arrowless)::after, .navbar-item .is-tab:hover .navbar-link:not(.is-arrowless)::after{
  border-color: black !important;
}

.yellowbkgn{
  background-color: gold !important;
}

.grnBkgn{
  background-color: rgb(0,128,0,0.7) !important;
}

.grnBkgn p {
  color:gold;
}

.home-page-card-horizontal .title, .home-page-card-horizontal .subtitle {
  color: black !important;
}

.is-content .message-header, .standardLook{
  background-color: rgb(0,128,0,0.7) !important;
  color: black;
  
}

.is-content .message-body{
  background-color: rgb(255,255,0) !important;
  color: black;
}

.hide-element{
  display: none;
}

.left-margin{
  margin-left: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.sliderContainer{
  padding: 1rem;
  margin: 3rem 1rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-item, .navbar-brand{
  color:black !important;
  background-color: rgb(0,128,0, 0.7) !important;
}

.nav-span{
  padding: 0.5rem;
}

.navbar-burger{
  margin-right: 0.5rem !important;
  margin-block: 0.5rem !important;
}

.navbar-item .is-tab:focus, .navbar-item .is-tab:hover, .navbar-item:hover, .navbar-item:focus {
  background-color: gold !important;
  color: black !important;
}

.navbar-item .is-tab:focus .custom-nav, .navbar-item .is-tab:hover .custom-nav, .navbar-item:hover .custom-nav, .navbar-item:focus .custom-nav {
  background-color: gold !important;
  color: black !important;
}

.navbar-brand a.navbar-item:focus, .navbar-brand a.navbar-item:hover{
  background-color: gold !important;
  color: black !important;
}

.customSlide {
  height: 30rem;
  width: 100%;
}

/*
.flag-card{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
*/

.slick-prev{
  left: 5px !important; 
}

.slick-next{
  right: 25px !important;
}


.attractions .slick-prev{
  left: -1.5rem !important;
  z-index: 3 !important;
}

.attractions .slick-next{
  z-index: 3  !important;
  right: 0.25rem !important;
}

.slick-prev:before, .slick-next:before {
  font-size: 3rem !important;
  color: rgb(0,128,0,0.7) !important;
}

.slick-dots li button:before{
  font-size: 12px !important;
}

.footer-container{
  background-color: black !important;
  color: white !important;
}
.links span{
  color: white !important;
}

.links span:hover{
  color: blue !important;
}

.contactForm{
  background-color: rgb(0,128,0,0.7) !important ;
}

.p-format{
  text-align: left;
  text-indent: 3rem;
}

.remarks .read-more-link {
  display: none;
}

.posting-title{
  color:gold;
}

.posting-author{
  color:black;
}

.posting-item-card:hover {
  color: green !important;
  border: green solid 2px;
}

.commissionerPic .image img:hover{
  border: solid 3px green;
  cursor: pointer;
}

.remarks .image img:hover{
  border: solid 3px green;
  cursor: pointer;
}

.ad-card-image{
  height : 12rem !important;
}

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .hero {
    padding-top: 60px !important;
  }

  /* thumbnail css */

  .imagesContainer{
    width:auto;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .thumbnail .slick-slide {
    margin-inline: 0rem;
    padding: 5px;
  }

 .thumbnail .slick-next, .thumbnail .slick-prev {
    margin-top: 3rem !important;
  }

  .attractions .thumbnail .slick-next, .attractions .thumbnail .slick-prev{
    margin-top: 6rem !important;
  }

  .slide-label {
    background: rgb(0, 0, 0, 0.7) !important;
    color: white !important;
    padding: 0 !important;
    font-size: 1.5em !important;
    bottom: 0px !important;
    width: 100% !important;
    
  }

  .info-link .subtitle{
    color: blue !important;
  }

  .info-link .slider-wrapper{
    height: auto;
  }

  .breadcrumb li + li::before {
    color: gray !important;
    font-weight: bolder !important;
}

/*.hero, article{
  margin-block: 1rem;
}*/



.message-body ul li{
  margin: 1rem;
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
}

.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
  height: 100% !important;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

.pdf-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

.custom-card{
  width : 20rem !important;
  margin: 0.5rem;
}

.paginationBox{
  margin: 0 auto;
}

.paginationBox li{
  margin: 5px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.navbar-link:not(.is-arrowless)::after {
  right: 0em !important;
}

.dropdown-trigger{
  padding: 0 !important;
}

.body .textarea, .para{
  white-space: pre-wrap;
  text-indent: 50px;
}

.no-map .map-box{
  display: none;
}

.curve-border{
  border-radius: 1rem;
  padding: 1rem;
}

.caption-tag{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  justify-content: right !important;
  background:	rgb(211,211,211, 0.7) !important;
  font-weight: bold;
  font-size: medium !important;
  height: 3rem !important;
}

.governance img{
  height: 15rem !important;
}

.governance {
  height: auto !important;
}
.official{
  color: green;
}

.react-tabs__tab--selected{
  background-color: royalblue !important;
  color: white !important;
}

.news-box .image img{
  height: 9rem !important;
  width: 12rem !important;
}

.news-box .thumbnail .slick-next, .news-box  .thumbnail .slick-prev {
  margin-top: 1rem !important;
}

.about-jamaica .row{
  padding-inline: 1rem ;
}

.governance .image img, .officials .image img{
  cursor: pointer !important;
}

figcaption{
  text-align: center !important;
}

.hero-contain{
  padding-inline: 1rem !important;
}

.dropdown-menu {
  width: 100% !important;
}

@media screen and (max-width:374px){
  .governance img{
    height: 13rem !important;
  }
}

@media screen and (max-width: 425px) and (min-width:375px){
  .governance img{
    height: 15rem !important;
  }

  .governance{
    height: auto !important;
  }

  .customSlide {
    height: 10rem !important;
    width: 100%;
  }
  .sticky + .hero {
    padding-top: 0 !important;
  }

  .message-body{
    padding: 1rem ;
  }
 
}

@media screen and (max-width: 768px) and (min-width: 426px){
  .banner{
    text-align: center;
  }
  .wrap-text{
    display: none;
  }

  .latest-news{
    margin: 0;
  }
  .sticky + .hero {
    padding-top: 0 !important;
  }

 /* .posting-item-card {
    background-color: rgb(0,128,0,0.7) !important;
    width: auto;
  }*/

  .hero article ul{
    margin: 1rem !important;
  }

  .message{
    padding: 3rem;
    margin: 1rem;
  }
  .message-body{
    padding: 3rem !important;
    text-align: left !important;
  }

  .p-format{
    text-align: left !important;
    text-indent: 3rem !important;
  }
  .a-feature{
    margin: 1rem !important;
    padding: 1rem !important;
  }

  .navbar-item{
    padding: 0.1rem 1rem !important;
    text-align: left;
    margin: 0 auto;
  }

  .customSlide {
    height: 20rem !important;
    width: 100%;
  }
  .governance img{
    height: 15rem !important;
  }
  .governance{
    height: auto !important;
  }

  .home-page .officials, .home-page .commissioner-card{
    padding-inline: 6rem !important;
  }
}

@media screen and (min-width: 1025px){
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 100% !important;
  }
  .banner-column{
    margin-block: 10%;
  }

  .break-text{
    display: none;
  }
  
  .slideshow{
    width: 100%;
    margin: 0 auto;
  }
  .new-article{
    width: 50%;
    margin: 0 auto;
  }
  .governance img{
    height: 15rem !important;
    margin: 0 auto !important;
  }
  .home-page .governance img{
    height: 18rem !important;
    margin: 0 auto !important;
  }

  .governance{
    height: auto !important;
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 769px){
  
  .banner-column{
    margin-block: 10%;
  }
  .container:is(.is-max-desktop):is(.is-max-widescreen){
    width: 50% !important;
  }

  .break-text{
    display: none;
  }

  .new-article{
    width: 50%;
    margin: 0 auto;
  }
  .governance img{
    height: 12rem !important;
  }
}



